

<body>
    <header>
        <nav id="nav1" class="bord1 navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container">

                
                
              <a [routerLink]="['/']"><img src="../assets/images/logoflowerstore.png" style="height: 70px; width: 120px;"></a>
                
               


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                       
                        <li class="nav-item">
                            <a [routerLink]="['/register']" style="color: black; margin-left: 40px;" class="nav-link" >Register</a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/']" style="color: black; margin-left: 40px;" class="nav-link" >Login</a>
                        </li>
                        
                        <li class="nav-item">
                            <a [routerLink]="['/privacy']" style="color: black; margin-left: 40px;" class="nav-link" >Privacy</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>







<div id="div1">

    <h1>Flower Store</h1>


    

    <br><br><br>

    <p>This page belongs to the titans...</p>
    <br>

    <ul>
        <li>Manthan Sharma</li>
        <li>Achal Agarwal</li>
        <li>Sugandh Kumar</li>
        <li>Amit Agarwal</li>

    </ul>

</div>


<br><br><br><br><br>



<footer id="foo1" class="bord2 footer text-muted">
    <div id="footxt" class="container">
        &copy; 2021 - FlowerStore - Angular and Asp.net API
    </div>
</footer>



</body> 
